body {
    overflow-y: scroll;
    overflow-x: hidden;
    background: #faf9f7;
}

html, body {
    font-size: 18px;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
}

.img-cover {
    aspect-ratio: 17 / 24;
}

.img-cover-md {
    aspect-ratio: 17 / 24;
    max-height: 260px;
}

.img-cover-lg {
    aspect-ratio: 17 / 24;
    max-height: 320px;
}

.bottom-fade {
    position: relative;
}

.bottom-fade::after {
    content: "";
    display: block;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    height: 2rem;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.table-container > div {
    padding: 1rem;
    overflow: scroll
}

.table-pager table {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
}

.table-pager table td a, .table-pager table td span {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}


