body {
    overflow-y: scroll;
    overflow-x: hidden;
    /*    TODO: not for auth*/
}

html, body {
    font-size: 18px;
}


.lead {
    font-size: 1.5rem;
    font-weight: 500;
}

.form-label {
    margin-bottom: 0.1rem;
    margin-top: 0.6rem;
}

.img-thumbnail {
    object-fit: contain;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 45px;
    padding-left: 15px;
    padding-right: 15px;
}


